# Diane Rodden
## 09_dplyr_practice

In [32]:
library('tidyverse')

In [33]:
df.marathon = read.csv('../data/marathon.csv')
df.marathon %>% head

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

# Filter

- the filter operation does exactly what you expect given its name.

In [34]:
# e.g.

iris %>% filter(Species == 'setosa', Petal.Width > 0.2)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.4          3.9         1.7          0.4         setosa
2  4.6          3.4         1.4          0.3         setosa
3  5.7          4.4         1.5          0.4         setosa
4  5.4          3.9         1.3          0.4         setosa
5  5.1          3.5         1.4          0.3         setosa
6  5.7          3.8         1.7          0.3         setosa
7  5.1          3.8         1.5          0.3         setosa
8  5.1          3.7         1.5          0.4         setosa
9  5.1          3.3         1.7          0.5         setosa
10 5.0          3.4         1.6          0.4         setosa
11 5.4          3.4         1.5          0.4         setosa
12 5.0          3.5         1.3          0.3         setosa
13 4.5          2.3         1.3          0.3         setosa
14 5.0          3.5         1.6          0.6         setosa
15 5.1          3.8         1.9          0.4         setosa
16 4.8          3.0         1.4          0.3         setosa

- The syntax for the `equals` operator in R is `==`.
- Greater than (`>` or `>=`) and less than (`<` or `<=`) are intuitive.
- You can fitler on multiple columns by adding arguments to the filter operation.

Filter the marathon data to just the runners from Kenya.

In [35]:
df.marathon %>% filter(country=='Kenya')

   year name                      country time       race.time MF
1  2019 Lawrence Cherono          Kenya   2H 7M 57S  2.132500  Men's
2  2017 Geoffrey Kirui            Kenya   2H 9M 37S  2.160278  Men's
3  2012 Wesley Korir              Kenya   2H 12M 40S 2.211111  Men's
4  2011 Geoffrey Mutai            Kenya   2H 3M 2S   2.050556  Men's
5  2010 Robert Kiprono Cheruiyot  Kenya   2H 5M 52S  2.097778  Men's
6  2008 Robert Kipkoech Cheruiyot Kenya   2H 7M 46S  2.129444  Men's
7  2007 Robert Kipkoech Cheruiyot Kenya   2H 14M 13S 2.236944  Men's
8  2006 Robert Kipkoech Cheruiyot Kenya   2H 7M 14S  2.120556  Men's
9  2004 Timothy Cherigat          Kenya   2H 10M 37S 2.176944  Men's
10 2003 Robert Kipkoech Cheruiyot Kenya   2H 10M 11S 2.169722  Men's
11 2002 Rodgers Rop               Kenya   2H 9M 2S   2.150556  Men's
12 2000 Elijah Lagat              Kenya   2H 9M 47S  2.163056  Men's
13 1999 Joseph Chebet             Kenya   2H 9M 52S  2.164444  Men's
14 1998 Moses Tanui               Kenya   2H 7M 34S  2.126111  Men's
15 1997 Lameck Aguta              Kenya   2H 10M 34S 2.176111  Men's
16 1996 Moses Tanui               Kenya   2H 9M 15S  2.154167  Men's
17 1995 Cosmas Ndeti              Kenya   2H 9M 22S  2.156111  Men's
18 1994 Cosmas Ndeti              Kenya   2H 7M 15S  2.120833  Men's
19 1993 Cosmas Ndeti              Kenya   2H 9M 33S  2.159167  Men's
20 1992 Ibrahim Hussein           Kenya   2H 8M 14S  2.137222  Men's
21 1991 Ibrahim Hussein           Kenya   2H 11M 6S  2.185000  Men's
22 1988 Ibrahim Hussein           Kenya   2H 8M 43S  2.145278  Men's
23 2017 Edna Kiplagat             Kenya   2H 21M 52S 2.364444  Women's
24 2015 Caroline Rotich           Kenya   2H 24M 55S 2.415278  Women's
25 2013 Rita Jeptoo               Kenya   2H 26M 25S 2.440278  Women's
26 2012 Sharon Cherop             Kenya   2H 31M 50S 2.530556  Women's
27 2011 Caroline Kilel            Kenya   2H 22M 36S 2.376667  Women's
28 2009 Salina Kosgei             Kenya   2H 32M 16S 2.537778  Women's
29 2006 Rita Jeptoo               Kenya   2H 23M 38S 2.393889  Women's
30 2005 Catherine Ndereba         Kenya   2H 25M 13S 2.420278  Women's
31 2004 Catherine Ndereba         Kenya   2H 24M 27S 2.407500  Women's
32 2002 Margaret Okayo            Kenya   2H 20M 43S 2.345278  Women's
33 2001 Catherine Ndereba         Kenya   2H 23M 53S 2.398056  Women's
34 2000 Catherine Ndereba         Kenya   2H 26M 11S 2.436389  Women's
   country.simple
1  Kenya
2  Kenya
3  Kenya
4  Kenya
5  Kenya
6  Kenya
7  Kenya
8  Kenya
9  Kenya
10 Kenya
11 Kenya
12 Kenya
13 Kenya
14 Kenya
15 Kenya
16 Kenya
17 Kenya
18 Kenya
19 Kenya
20 Kenya
21 Kenya
22 Kenya
23 Kenya
24 Kenya
25 Kenya
26 Kenya
27 Kenya
28 Kenya
29 Kenya
30 Kenya
31 Kenya
32 Kenya
33 Kenya
34 Kenya

# Select

- select let's you include/exclude columns.

In [36]:
# e.g.

iris %>% select(Species, Sepal.Length) %>% head

  Species Sepal.Length
1 setosa  5.1
2 setosa  4.9
3 setosa  4.7
4 setosa  4.6
5 setosa  5.0
6 setosa  5.4

Select just the columns that represent runner names and country from the marathon data.

In [37]:
# displays a preview of the selected columns
df.marathon %>% select(name, country) %>% head

# displays all of the instances for the selected columns
df.marathon %>% select(name, country)

  name                       country
1 Lawrence Cherono           Kenya
2 Yuki Kawauchi              Japan
3 Geoffrey Kirui             Kenya
4 Lemi Berhanu               Ethiopia
5 Lelisa Desisa              Ethiopia
6 Mebrahtom "Meb" Keflezighi United States

    name                       country
1   Lawrence Cherono           Kenya
2   Yuki Kawauchi              Japan
3   Geoffrey Kirui             Kenya
4   Lemi Berhanu               Ethiopia
5   Lelisa Desisa              Ethiopia
6   Mebrahtom "Meb" Keflezighi United States
7   Lelisa Desisa              Ethiopia
8   Wesley Korir               Kenya
9   Geoffrey Mutai             Kenya
10  Robert Kiprono Cheruiyot   Kenya
11  Deriba Merga               Ethiopia
12  Robert Kipkoech Cheruiyot  Kenya
13  Robert Kipkoech Cheruiyot  Kenya
14  Robert Kipkoech Cheruiyot  Kenya
15  Hailu Negussie             Ethiopia
16  Timothy Cherigat           Kenya
17  Robert Kipkoech Cheruiyot  Kenya
18  Rodgers Rop                Kenya
19  Lee Bong-Ju                South Korea
20  Elijah Lagat               Kenya
21  Joseph Chebet              Kenya
22  Moses Tanui                Kenya
23  Lameck Aguta               Kenya
24  Moses Tanui                Kenya
25  Cosmas Ndeti               Kenya
26  Cosmas Ndeti               Kenya
27  Cosmas Ndeti               Kenya
28  Ibrahim Hussein            Kenya
29  Ibrahim Hussein            Kenya
30  Gelindo Bordin             Italy
⋮   ⋮                          ⋮
142 Catherine Ndereba          Kenya
143 Catherine Ndereba          Kenya
144 Fatuma Roba                Ethiopia
145 Fatuma Roba                Ethiopia
146 Fatuma Roba                Ethiopia
147 Uta Pippig                 Germany
148 Uta Pippig                 Germany
149 Uta Pippig                 Germany
150 Olga Markova               Russia
151 Olga Markova               Comm. Ind. States
152 Wanda Panfil               Poland
153 Rosa Mota                  Portugal
154 Ingrid Kristiansen         Norway
155 Rosa Mota                  Portugal
156 Rosa Mota                  Portugal
157 Ingrid Kristiansen         Norway
158 Lisa Larsen-Weidenbach     United States
159 Lorraine Moller            New Zealand
160 Joan Benoit                United States
161 Charlotte Teske            Germany
162 Allison Roe                New Zealand
163 Jacqueline Gareau          Canada
164 Joan Benoit                United States
165 Gayle S. Barron            United States
166 Michiko (Miki) Gorman      United States
167 Kim Merritt                United States
168 Liane Winter               Germany
169 Michiko (Miki) Gorman      United States
170 Jacqueline A. Hansen       United States
171 Nina Kuscsik               United States

# Putting it all together

Use `group_by`, `filter`, and `summarize` to show the best race times for US and Kenyan women runners. (*Hint: use the `%in%` operator to filter by two values for one column*). Fill in the missing pieces below:

In [38]:
df.marathon %>%
    filter(MF == "Women's", country %in% c('United States', 'Kenya')) %>%
    group_by(country) %>%
    summarize(best.race.time = min(race.time))

  country       best.race.time
1 Kenya         2.345278
2 United States 2.378611

Use `filter`, `select`, `head`, and `arrange` to show the best women's race times in the data and the country of the runners. Fill in the missing pieces below:

In [39]:
# basic results
df.marathon %>%
    filter(MF == "Women's") %>%
    select(country, race.time) %>%
    arrange(race.time) %>%
    head


# results with adding a group_by
df.marathon %>%
    filter(MF == "Women's") %>%
    select(country, race.time) %>%
    group_by(country) %>%
    arrange(race.time) %>%
    summarize(best.race.time = min(race.time)) %>%
    head


# removing head to see all countries
df.marathon %>%
    filter(MF == "Women's") %>%
    select(country, race.time) %>%
    group_by(country) %>%
    arrange(country, race.time) %>%
    summarize(best.race.time = min(race.time))

  country       race.time
1 Ethiopia      2.333056
2 Kenya         2.345278
3 Germany       2.362500
4 Kenya         2.364444
5 Kenya         2.376667
6 United States 2.378611

  country           best.race.time
1 Canada            2.574444
2 Comm. Ind. States 2.395278
3 Ethiopia          2.333056
4 Germany           2.362500
5 Kenya             2.345278
6 New Zealand       2.446111

   country           best.race.time
1  Canada            2.574444
2  Comm. Ind. States 2.395278
3  Ethiopia          2.333056
4  Germany           2.362500
5  Kenya             2.345278
6  New Zealand       2.446111
7  Norway            2.409167
8  Poland            2.405000
9  Portugal          2.408333
10 Russia            2.422222
11 United States     2.378611

What's the best race time ever for a US man?

In [40]:
df.marathon %>%
    filter(MF == "Men's", country == "United States")  %>%
    select(name, race.time)  %>%    
    summarize(best.race.time = min(race.time))

  best.race.time
1 2.143611

In [41]:
# Try to get name of man with best US race time

# Find the best US Men's race time and assign to variable y
y = df.marathon %>%
        filter(MF == "Men's", country == "United States")  %>%
        select(name, race.time)  %>%    
        summarize(best.race.time = min(race.time))


# Use variable y to filter df.marathon
df.marathon %>%
    filter(race.time == y[1,]) %>%
    select(name, race.time)

  name                       race.time
1 Mebrahtom "Meb" Keflezighi 2.143611

How does the best US men's time compare the the best race time in the data overall?

In [42]:
# Find the best US Men's race time and assign to variable y
y = df.marathon %>%
        filter(MF == "Men's", country == "United States")  %>%
        select(name, race.time)  %>%    
        summarize(best.race.time = min(race.time))


# Find the best race time overall
best_overall = df.marathon %>%
               arrange(race.time) %>%
               summarize(best.race.time = min(race.time))


# compare the best US men's time compare the the best race time in the data overall
difference = y[1, ] - best_overall[1, ]

print(difference[1])

[1] 0.09305556

# Bonus

For all countries with at least 5 winners in the men's category, which country has the best median race time in the men's category? (*Hint: use the `n()` function to count the winners by country.)

In [43]:
# This should get you started. It adds a column "N.winners" that represents the
# total winners from the runner's country.

df.marathon %>%
    filter(MF == "Men's") %>%
    group_by(country) %>%
    mutate(N.winners = n())  %>%
    filter(N.winners >= 5) %>%
    summarize(median.race.time = median(race.time))

  country       median.race.time
1 Canada        2.503472
2 Ethiopia      2.163750
3 Finland       2.348333
4 Japan         2.275833
5 Kenya         2.155139
6 United States 2.478889